{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revenue</title>
    <link rel="stylesheet" href="{% static 'revenue/revenue.css' %}">

</head>

<body>
    <header class="container_header">

    </header>
    <section class="container_section">
        <div class="sidebar">
            <ul>
                <li><a href="/app1/principles/">Principles</a></li>
                <li><a href="/app1/home/">Dashboard</a></li>
                <li><a href="/app2/revenue/">Revenue</a></li>
                <li><a href="/app3/expenditure/">Expenditure</a></li>
            </ul>
        </div>
        <div class="container_dashboard">
                <div class="container-thumb"> 
                    <h1 class="h1-thumb">Expenditure</h1>
                    <p class="p-thumb">Don't spend more than you earn.</p>
                </div>
                <div class="container-table">
                    <table>
                        <tr>
                            <th>ID</th>
                            <th>Type</th>
                            <th>Month</th>
                            <th>Year</th>
                            <th>Value</th>
                        </tr>
                        {% for revenue  in revenues %}
                        <tr>
                            <td>{{ revenue.id }}</td>
                            <td>{{ revenue.revenue_types }}</td>
                            <td>{{ revenue.month }}</td>
                            <td>{{ revenue.year }}</td>
                            <td>R$ {{ revenue.value_revenue }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div> 
    </section>
</body>

</html>