*{
    font-family: sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
}

.container_header{
    background-color:#111;
    height: 70px;
}

.container_section{
    height: 640px;
    display: flex;
    justify-content: center;

}

.sidebar{
    background-color: yellowgreen;
    flex: 1;
    background-color: #111;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    text-align: center;
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.container_dashboard{
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212f5;
}

.container-control{
    display: flex;

    flex-direction: column;
    width: 600px;

}

.container-re{
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: #fff;
}

.expenditure{
    margin-left: 50px;
}

.container-thumb-danger{
    background-color: #111;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 2px solid;
    border-color:rgb(220, 7, 0) ;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.container-thumb-alert{
    background-color: #111;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 2px solid;
    border-color:rgb(255, 238, 3) ;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.container-thumb-perfect{
    background-color: #111;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 2px solid;
    border-color:rgb(0, 188, 66) ;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.h1-thumb, .p-thumb{
    margin: 0px;
    margin-bottom: 10px;
    margin-left: 30px;

}




