*{
    font-family: sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
}

.container_header{
    background-color:#111;
    height: 70px;
}

.container_section{
    height: 1000px;
    display: flex;
    justify-content: center;

}

.sidebar{
    background-color: yellowgreen;
    flex: 1;
    background-color: #111;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    text-align: center;
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.container_dashboard{
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212f5;
}

.container-control{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;

}

/*  Daqui para cima, são configurações globais */

.container-content{
    margin-top: 20px;
    background-color: #111;
    width: 800px;
    height: 800px;
    border: rgb(108, 223, 194) 3px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
}
