{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'principles/principles.css' %}">

</head>

<body>
    <header class="container_header">

    </header>
    <section class="container_section">
        <div class="sidebar">
            <ul>
                <li><a href="/app1/principles/">Principles</a></li>
                <li><a href="/app1/home/">Dashboard</a></li>
                <li><a href="/app2/revenue/">Revenue</a></li>
                <li><a href="/app3/expenditure/">Expenditure</a></li>
            </ul>
        </div>
        <div class="container_dashboard">
            <div class="container-control">
                <div class="container-content"> 
                    <h1>Life Principles</h1>
                    <ol type="I" start="1">
                        <li>Everything is in your mind, work on it daily;</li>
                        <br>
                        <li>focus on the 10-year law, your achievements depend on time;</li>
                        <br>
                        <li>What is worth it takes time to achieve, don't exchange it for short-term pleasures;</li>
                        <br>
                        <li>cash is king, save money and spend wisely;</li>
                        <br>
                        <li>One wrong expense will influence at least 6 months of your life;</li>
                        <br>
                        <li>Don't spend more than you earn;</li>
                        <br>
                        <li>Have a balanced life;</li>
                        <br>
                        <li>Focus on building a great foundation;</li>
                        <br>
                        <li>body, mind and spirit is the golden triad;</li>
                        <br>
                        <li>People are the most important asset;</li>
                        <br>
                        <li>Nutrition and training are essential for above-average performance</li>
                        <br>
                        <li>focus on what you can control</li>
                        <br>
                        <li>create your own system</li>
                        <br>
                        <li>Don't be nice, but be consistent</li>
                      </ol>

                </div>
            </div>

        </div> 
    </section>
    
</body>

</html>

