{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'home/home.css' %}">

</head>

<body>
    <header class="container_header">

    </header>
    <section class="container_section">
        <div class="sidebar">
            <ul>
                <li><a href="/app1/principles/">Principles</a></li>
                <li><a href="/app1/home/">Dashboard</a></li>
                <li><a href="/app2/revenue/">Revenue</a></li>
                <li><a href="/app3/expenditure/">Expenditure</a></li>
            </ul>
        </div>
        <div class="container_dashboard">
            <form action="{% url 'app_home:dashboard' %}" method="get">
                <div class="filter_container">
                        <div class="data_container">
                                <div class="container-div-month">
                                    <h3> Month:  </h3>
                                    <select name="month">
                                        {% for code, name in months_choices %}
                                            <option value="{{ code }}">{{ name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="container-div-year">
                                    <h3> Year:  </h3>
                                    <input type="text" name="year" >
                                </div>
                        </div>
                    <div class="btn_filter_container">
                        <input type="submit" value="Filter" class="btn">
                    </div>
                </div>
            </form>
            <div class="container-control">
                {% if my_balance_general <= 1000 %}
                    <div class="container-thumb-danger"> 
                        <div class="thumb-detail">
                            <h1 class="h1-thumb">Balance General</h1>
                            <p class="p-thumb">R$ {{my_balance_general}} </p>
                        </div>
                    </div>

                {% elif my_balance_general > 1000 and my_balance_general < 2000 %}
                    <div class="container-thumb-alert"> 
                        <h1 class="h1-thumb">Balance General</h1>
                        <p class="p-thumb">R$ {{my_balance_general}} </p>
                    </div>

                {% else %}

                    <div class="container-thumb-perfect"> 
                        <h1 class="h1-thumb">Balance General</h1>
                        <p class="p-thumb">R$ {{my_balance_general}} </p>
                    </div>

                {% endif %}

                <div class="container-re">
                    <div>
                        <h1> + Revenue</h1>
                        <p>R$ {{total_revenue}}</p>
                    </div>
                    <div class="expenditure">
                        <h1> - Expenditure</h1>
                        <p>R$ {{total_cost}}</p>
                    </div>
                </div>
            </div>

        </div> 
    </section>
    
</body>

</html>

