{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenditure</title>
    <link rel="stylesheet" href="{% static 'expenditure/expenditure.css' %}">

</head>

<body>
    <header class="container_header">

    </header>
    <section class="container_section">
        <div class="sidebar">
            <ul>
                <li><a href="/app1/home/">Dashboard</a></li>
                <li><a href="/app2/revenue/">Revenue</a></li>
                <li><a href="/app3/expenditure/">Expenditure</a></li>
            </ul>
        </div>
        <div class="container_dashboard">
            <div class="forms-control">
                
                <form action="{% url 'app_expenditure:expenditure' %}" method="post" class="container-forms">{% csrf_token %}
                    <div class="container-thumb"> 
                        <h1 class="h1-thumb">Expenditure</h1>
                        <p class="p-thumb">Don't spend more than you earn.</p>
                    </div>
                    <div class="forms-rows">   
                        <div class="container-div-title">
                            <h3> Title </h3>
                            <input type="text" name="title" >
                            <br>

                                                
                            <h3> Category </h3>
                            <select name="category">
                                {% for code, name in categories %}
                                    <option value="{{ code }}">{{ name }}</option>
                                {% endfor %}
                            </select>
                            <br>

                            <h3> Value </h3>
                            <input type="text" name="value" >
                            <br>
                        </div>

                        <div class="container-div-payment">
                            <h3> Payment </h3>
                            <select name="payment">
                                {% for code, name in payments %}
                                    <option value="{{ code }}">{{ name }}</option>
                                {% endfor %}
                            </select>
                            <br>

                            <h3> Credit Card </h3>
                            <input type="text" name="credit" >
                            <br>
                        </div>
                        
                        <div class="container-div-month">
                            <h3> Month </h3>
                            <select name="month">
                                {% for code, name in months %}
                                    <option value="{{ code }}">{{ name }}</option>
                                {% endfor %}
                            </select>
                            <br>

                            <h3> Year </h3>
                            <input type="text" name="year" >
                            <br>
                        </div>
                    </div>
                    <div class="container-btn">
                        <input type="submit" value="Send" class="btn">
                    </div>
                </form> 
            </div>
        </div> 
    </section>
    
</body>

</html>